.hero {

  background-image: url(/imgs/bgimg.png);
  background-repeat: no-repeat;
  background-size:  cover ;
  background-color: #1B2330;
  background-position: center 650px;

}

.hero__div {
  padding-top: 50px;
padding-bottom: 56px;
}

.hero__img {
  display: block;
  margin: 0 auto;
max-width: 720px;
width: 100%;
height: 534px;
}

.hero__content {
  display: block;
  margin: 0 auto;
  max-width: 734px;
  width: 100%;
}

.hero__heading {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
}

.hero__text {
  padding: 0px 75px;
  margin-bottom: 32px;
  font-family: 'Open Sans';
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.hero__button {
  @include button;
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 425px) {
  .hero__heading {
    font-size: 24px;
    line-height: 36px;
  }

  

  .hero__img {
    max-width: 304px; 
    width: 100%;
    height: 225px;
  }

  .hero__text {
    padding: 0px;
    font-size: 14px;
    line-height: 21px;
  }

  .hero__button {
    padding-right: 0;
    padding-left: 0;
    width: 240px;
  }
}





